<header>
    <!-- Header / Personal Info -->
    <h1 style="color: black; font-family: Arial, sans-serif;">Ana Clara Marinho</h1>
  <p><strong style="font-family: Georgia, serif;color: grey;">Software Engineering</strong></p>
  <address 
   <a href="mailto:clarinha.am@gmail.com" style="color: teal; font-weight: text-decoration: none;">
      clarinha.am@gmail.com</a><br>
  <a href="tel:+5521992341618" style="color: teal; font-weight:text-decoration: none;">
      +55 (21) 99234-1618 </a>
  </address>
</header>
