Example CSS for your HTML elements */
h1 {
  color: rgb(227, 25, 180);
  font-family: Arial, sans-serif;
}

strong {
  font-family: Georgia, serif;
  color: rgb(32, 220, 38);
}

a {
  color: rgb(29, 17, 203);
  text-decoration: none;
  font-weight: bold;
}
